@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

/* body {
    background: orange;
} */

body {
    align-content: center;
    background: rgba(155, 66, 184);
    /* background-image: url('../src/img/zombie_bg.png');
    background-size: cover;
    background-repeat: no-repeat; */
}

#allthethings {
    width: 80%;
    height: 100%;
    border: 100px solid transparent;
    background-color: rgba(24, 10, 29, 0.5);
    border-radius: px;
    /* position: relative; */
    margin: auto;
    top: 5px;
    left: 2px;
}

#myGames {
    position: static;
    bottom: 330px;
    right: 300px;
    height: 50px;
    width: 600px;
    background: #006680;
    text-align: center;
    font-size: 30px;
    background-size: 1px 300%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: orange;
    font-family: shadows into light;
    cursor: pointer;
    border-radius: 15px;
}

#myGames:hover {
    background: #7A0000;
    color: white;
    -webkit-transform: rotate(-1deg);
    transform: rotate(-2deg);
}

#aboutme:hover {
    background: #7A0000;
    color: white;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

#credits:hover {
    background: #7A0000;
    color: white;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

#history:hover {
    background: #7A0000;
    color: white;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

#myGames p {
    position: relative;
    top: 2px;
    right: 4px;
}

#aboutme {
    height: 50px;
    width: 500px;
    background: #006680;
    position: static;
    bottom: 345px;
    right: 240px;
    text-align: center;
    font-size: 30px;
    font-family: shadows into light;
    color: orange;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 15px;
}

#aboutme p {
    position: relative;
    top: 0px;
    right: 9px;
}

#history {
    height: 50px;
    width: 400px;
    background: #006680;
    position: static;
    bottom: 360px;
    right: 200px;
    font-size: 30px;
    text-align: center;
    font-family: shadows into light;
    color: orange;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 15px;
}

#history p {
    position: relative;
    top: 0px;
    right: 4px;
}

#credits {
    height: 50px;
    width: 300px;
    position: static;
    background: #006680;
    bottom: 375px;
    font-size: 30px;
    right: 150px;
    text-align: center;
    font-family: shadows into light;
    color: orange;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 15px;
}

#credits p {
    position: relative;
    top: 0px;
}